server {
    listen 443 ssl;
    server_name estate.agent.de;

    ssl_certificate /etc/nginx/ssl/tls.crt;-----BEGIN CERTIFICATE-----
MIIDFTCCAf2gAwIBAgIUfrEgwraKF9PpxO4hcxBLjlYlj7swDQYJKoZIhvcNAQEL
BQAwGjEYMBYGA1UEAwwPZXN0YXRlLmFnZW50LmRlMB4XDTI0MDcwMzA0MTY1N1oX
DTI1MDcwMzA0MTY1N1owGjEYMBYGA1UEAwwPZXN0YXRlLmFnZW50LmRlMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmSvoH2NQI4MbPvog90hGKUCnRJaf
bzfV30hrufM6qW4AzoFMwCfhckDSml2+tH4Z8A7KUzWcyVSx1VUmnRstdQ0F6DFI
/plipILcsI/vpVxLBQajGujK/ZSeNz7pZz8Bz52st+dfDaPqNXyLHmGCmWijxXkk
RDrV1LXQ9xYVXOS9MVyEN1GG/c3YqrjRNDSREV2/b0bpgyU3SEbuBzxxsBliqkqH
okSNxtgNXc63d7icMQNJYjLbDZxfZi3DGv5OtQ719qBdZaQGW4FG76SKK+GiH1sy
seTiP/H9Hh56/Es/1pcp7YEz1zJ4PYl9OaNBGM8oFlP0eOT3OFHz9xJdYwIDAQAB
o1MwUTAdBgNVHQ4EFgQURXOmNsrZ+cFUoGYGtOLfwUK91wQwHwYDVR0jBBgwFoAU
RXOmNsrZ+cFUoGYGtOLfwUK91wQwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0B
AQsFAAOCAQEAAH3Zc1SG+011ZTy2EGQrleY5LF+8UIGl7VWVj4EvVZuwO85xpFlH
KGHauFOP3hySOxBjSqKt8E/gOt9gh8z0KvUUXwyQjALBgKJXxlHGDYwUg5bleWH3
JqOOf9/jrwqmu6BPaPOZVRfUteA6XYCZxTOdkKSQ6vEYpB4RRu9oQgDJuNzPDdgy
oFcQPU5RX6oAKrB4d7RLCWLl6kGq70TNh7wrJFogCGKwg8E0y52wwcSQzxNh+fn6
Nh4C1BJEXAxrtbwmuDe78Kqcce2JeJo2J/xbUeRTcHXidip7VHtZ5SUwO9ijl1e6
0DZ04cw7lgGjWVkq6yBaCwrFFhSz11iCiw==
-----END CERTIFICATE-----

    ssl_certificate_key /etc/nginx/ssl/tls.key;-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCZK+gfY1Ajgxs+
+iD3SEYpQKdElp9vN9XfSGu58zqpbgDOgUzAJ+FyQNKaXb60fhnwDspTNZzJVLHV
VSadGy11DQXoMUj+mWKkgtywj++lXEsFBqMa6Mr9lJ43PulnPwHPnay3518No+o1
fIseYYKZaKPFeSREOtXUtdD3FhVc5L0xXIQ3UYb9zdiquNE0NJERXb9vRumDJTdI
Ru4HPHGwGWKqSoeiRI3G2A1dzrd3uJwxA0liMtsNnF9mLcMa/k61DvX2oF1lpAZb
gUbvpIor4aIfWzKx5OI/8f0eHnr8Sz/WlyntgTPXMng9iX05o0EYzygWU/R45Pc4
UfP3El1jAgMBAAECggEABJ6dFSnLuqb9+3kpS5FLwgQEq7fMKx+TadLYgF9QBj8i
2bEq9dqq3OUumSSGMSLI40eOYfzw2gjzH22k2f2xWJSzEd/666Qp6GtG5UKaELqk
1C4Tf5X3u7cE/iiw4Vc+98Ugh8q3pp5umGL4147k+xdIVB+no9uPVzh8taAZ6dcq
0tHrRR++mVv+47rPtY4/WZNQN1YoGnpBbo14UhHSoXnqnat6K7nD2DaxrcRoRsdo
RqWGizoIKZ6Kv0DcB6/qkUhHdi8JqGMdlF6+n2WuxMJxBqwx8OtI2PxTvIQstxKx
Rl5evgpeDTdpOwW/2lTjato3puFdluHhTsWUh7zYrQKBgQDOf03tWvqF8plkiX7s
YXEXVYur8zMPnAFhPVDoCfAXyijUDvpWDJWIVxsReLC4Ikn+tBd+3UZXsw2CKVbG
krK/pzl5FVpcrd+Ca3xmtSRWLnnX65hOjdaFfUXR5xeFmXPG5W9ejoY0wUQYKLOl
ry7RlIJ54R9PLh/XOdeYEhREjQKBgQC95AK9X6bGdmYKIANMExm832HaxoPInu4+
rurBKKESpXxTIk9snTVUl3pSgQlWh+/4XQm4McJvKxSmygI67YqoL1e7ypujg4lk
ABs223xuD19dTDc9QpAS+mlZDeDG6uy8wPgXeWER+K6rDx4YJqSu5KA25GxeNxz7
eNbLnBPFrwKBgGXu46naMjay5dOCJ/xJsYjCOrs7xyXabbfxi6GvXixwJ61eY2bc
uWffD8aVHC8ZBgvMHJkMY6/g/DcXbvWA7um6g51o0/1R+zYnFvagTnqYYJ8cdke4
rn+gsjmGaM8TS9qP4WT81/Tsvk9qsBuGmYbtV2cQoOL2MtOMgwdXTVf1AoGAUWmq
iwqxdDFa+khTYZBm3oVfbO7jnWYWeyV/XKVQua/dp770EnssXEI9nZXZLRJHHlK1
UhVzaTotNn0xi5ZAdm8lzEvHgsloZElvYYukw4Mvvc5peIhLQPe/pwC+OEqMiTiq
pVXS+mOGb6yhmHUo8hrvXdl9ZL94W5Cpds5J490CgYEAt60zsu9GOpHOwDZSDRdV
vDg+TTU/hgPyPirG7//gofNJBhOEo6OF3CkpZPEZaVg/CrtMCvuL70ISYA17oVyB
qwsH1FvFkZCjypYC785yEMT3pV13YP0n7+69+/TgtYcM7oMygCmILHxot7XF8mo4
JA5f/JnD+lF7NvUu5X8R8As=
-----END PRIVATE KEY-----

    
}
